<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="s1" verbose="1" >
	<listeners> 
		<listener class-name="com.webtest.core.WebTestListener"></listener> 
	</listeners>

	<test name="wangdonghui">
		<classes>
			<class name="com.webtest.demo.Admin_Login"/>
			<!-- 
			<class name="com.xinhu.customertest.test.Login_test" />
			 <class name="com.xinhu.customertest.test.NewCustomer_test" />
			<class name="com.xinhu.customertest.test.NewSell_test" />
			 -->
		</classes>
	</test>


</suite>